@import url('https://fonts.googleapis.com/css?family=Oswald:300,700');

html {
  font-size: 16px;
}

@media (min-width: 700px) {
  html {
    font-size: 25px;
  }
}

body {
  color: #34517f;
  margin: 3em auto;
  text-align: center;
  background: linear-gradient(to left, #c2e59c , #64b3f4); 
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.6;
}

.subhead {
  font-size: 1.6rem;
  margin: .5em 0;
}

.subhead::after {
  content: '';
  display: block;
  height: 1px;
  background: #34517f;
  margin: 1em auto;
  width: 50%;
}

.grid {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.col {
  flex: 1;
  margin: 0 0.5em;
  padding: 0 0.5em;
}



/* ============
   === EMS  === 
   ============ */

.grid {
  
}

.col--em {
  
}

.col--em h1 {
  font-size: 2.5em;
}

.col--em p {
  font-size: 1em;
}



/* ============
   === REMS === 
   ============ */



.col--rem {
  
}

.col--rem h1 {
  font-size: 2.5rem;
}

.col--rem p {
  font-size: 1rem;
}




/* ============
   Call to action 
   ============ */

h1 {
  font-size: 4em;
  margin: .5em 0;
  line-height: 1;
}

.call-to-action {
  background: linear-gradient(to left, #f46b45 , #eea849);
  padding: 3em 0;
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, .5);
  margin-top: 500px;
  font-size: 1em;
  
}

.call-to-action--small {
  font-size: 1em;
}

.btn {
  display: inline-block;
  background: black; 
  font-weight: 700;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;

  padding: 1em 3em;
  
  margin: 0 .25rem;
}

.btn--small {
  font-size: .5em;
}

.btn--lrg {
  font-size: 1.5em;
}
